<h3>All Artists</h3>
<% @artists.each do |artist| %>
  <p><%= artist.name %></p> 
  <p><a href="/artists/<%= artist.id %>/edit">Edit</a></p>
  <form action="/artists/<%= artist.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
  <hr>
<% end %>